#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%
    
  }
  #cen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 39%
  }